/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18.12.2015, 15:02:58
    Author     : U284265
*/
html, body {
    margin:0px;
    padding:0px;
    height:100%;
    font-family: arial;
}
#debug {
    z-index: 999;
    position: relative;
    top: 60px;
    width: 800px;
    left: 100px;
    padding: 20px;
    background-color: #ffffff;
    border: solid red 1px;
}

#no_acces {
    margin: auto;
    width: 500px;
    margin-top: 20px;
    padding: 20px;
    background-color: #F7D3D3;
    box-shadow: black 0px 0px 20px;
    border: solid red 1px;
}

#no_acces p {
    text-align: center;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    text-shadow: #FF0707 0px 0px 20px;
}

h1{
    font-size: 24px;
}
h2{
    font-size: 18px;
    padding-right:50px;
}
#container {
    min-height: 100%;
    min-width: 100%;
    position:absolute;
}
#header {
    background: #000000;
    background: -webkit-linear-gradient(top, #d1d1d1 0%,#000000 37%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #d1d1d1 0%,#000000 37%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    width:100%;
    height:50px;
    
    /* Fixiert das Menü oben. **/
    position:fixed;
    top:0px;
    z-index:3;		/* Menü in den Vordergrund holen vor den Hintergrund und den Inhalt der Seite */ 
    
    /* Header Ramen unten und Schatten unten */
    box-shadow: 0 0 20px;
    border-bottom:solid black 1px;
    
    /*Setzt die Child elemente als Flex mit space between*/
    display: flex;
    justify-content: space-between;
}
#section {
    padding-bottom:60px;   	/* Höhe vom Footer */
    margin-top: 50px; 		/* Höhe vom Header */
}
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#2F2F2F;
    z-index:2;		/* Footer vor den Hintergrund holen auf gleiche ebene wie der Main Inhalt */
}


/* Top Menü Inhalt Stylen */
.top_menu ul{
    list-style-type: none;
    margin: 0px;
}
.top_menu li{
    position: relative;
    float: left;
    margin-right: 10px;
    margin-top: 15px;
}


.menu2{
    margin-right: 100px;
}



.top_menu .btn {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #000000;
  background: -webkit-linear-gradient(to bottom, #666666 0%,#000000 29%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #666666 0%,#000000 29%,#000000 100%); 
  padding: 5px 10px 5px 10px;
  border: solid #ffffff 1px;
  text-decoration: none; 
}

.top_menu .btn:hover {
  background: #fa283a;
  background-image: -webkit-linear-gradient(top, #fa283a, #8f0404);
  background-image: -moz-linear-gradient(top, #fa283a, #8f0404);
  background-image: -ms-linear-gradient(top, #fa283a, #8f0404);
  background-image: -o-linear-gradient(top, #fa283a, #8f0404);
  background-image: linear-gradient(to bottom, #fa283a, #8f0404);
  text-decoration: none;
  border: solid #000000 1px;
}

/* Main Hintergrund */
#section .bg{
    min-width: 100%;
    min-height: 100%;
    position: fixed;	/* Hintergrund Fixieren */
    background-image: url("../images/flightplan-l-1920.jpg");
    /*background-color: #9BB9CE;*/
    top: 50px;			/* Höhe vom Menü*/			
    background-repeat: no-repeat;
    z-index:1; 			/* Hintergrund ganz nach hinten schieben */
}


/* Main Inhalt */
#section .contend {
    position: relative;
    z-index:2;			/* Inhalt der Seite vor den Hintergrund legen */
    /*background-color: rgba(255,255,255,.7);  /* Halb Transparenter Hintergrund */
    background-color: #ffffff;
    margin-top:100px;						
    margin-bottom:80px;
    box-shadow: 0 0 20px;
    border-bottom:solid black 1px;
    padding: 10px;
}

#contend_top .main {
    display: flex;
    flex-flow: row;
    /*background-color: #D0D0D0;*/
    /*background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #4483D2) );*/
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFFFFF), color-stop(1, #4C4C4C) );
    border-bottom: solid 1px black;
    height: 50px;
    top: 0px;
    position: relative;
    /* box-shadow: 0px 0px 20px; */
}
.main h1{
    color:#ffffff;
}


.headline {
    width: 210px;
    padding-left: 20px;
    position: relative;
    top: -5px;
    color:#fff;
}

.menu {
    position: relative;
    min-width: 610px;
}

/* Contend Menü Inhalt Stylen */
.menu ul{
    list-style-type: none;  
}
.menu li{
    position: relative;
    float: left;
    top: -5px;
    /*padding-bottom: 10px;
    padding-left: 10px;*/
}

.menu li.text {
    font-size: 18px;
    margin-top: 10px;
}
.menu li.link {
    margin-top: 5px;
}
.menu li a, .menu li a:visited {
	display: block;
	text-decoration: none;
	margin-left:5px;
}

#contend_main{
    min-width: 100%;
    min-height: 100%;
    position: relative;
    display: flex; 
    margin-top: 20px;
    margin-bottom: 20px;
}
#contend_main .main{
    width: 100%;
    /*background-color: cornsilk;*/
    padding-left: 10px;
    padding-right: 10px;
}


#contend_main .left{
    width: 300px;
    position: relative;
    /*background-color: yellowgreen;*/
    padding-left: 10px;
    padding-right: 10px;
    border-right: solid 1px black;
}

#contend_main .right{
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
        border-left: solid 1px black;
    /* position: relative; */
   /* background-color: pink;*/
}
#contend_main .bottom{
    width: 100%;
    position: relative;
}

#addiitional_options li{
    margin-bottom: 12px;
}

/* Footer Inhalt ( span ) Stylen und Positionieren */
.footer_contend span {
    font-family: sans-serif, arial;
    font-size: 12px;
    color: #fff;
    float: right;
    padding-right: 10px;
    padding-top: 40px;
}

/* Navigation nach oben default ausgeblendet */
#nav_to_top{
	border: solid black 2px;
	background-color:#7B7B7B;
	width: 20px;
    height: 20px;
    bottom: 50px;
    right: 20px;
    position: fixed;
    padding: 5px 8px 10px;
    z-index: 200;
	visibility:hidden;
}

#nav_to_top a{
    color: #fff;
    top: -14px;
    position: relative;
    font: 60px Levenim MT;
    font-weight: normal;
    text-decoration: none;
}


/*Default Settings für Tabellen*/

.account table { 
    width: 100%; 
} 

.project table { 
    width: 100%; 
} 
.datagrid table {
    border-collapse: collapse;
    text-align: left;
}

.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff; 
    overflow: hidden; 
    border: 1px solid #006699; 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
}
.datagrid table td, .datagrid table th {padding: 6px 4px; }
.datagrid table thead th {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0A2D4F), color-stop(1, #238EEB) );
    background:-moz-linear-gradient( center top, #0A2D4F 5%, #238EEB 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0A2D4F', endColorstr='#238EEB');
    background-color:#0A2D4F; 
    color:#FFFFFF; 
    font-size: 15px; 
    font-weight: bold; 
    border-left: 1px solid #BDBDBD; 
} 
.datagrid table thead th:first-child { border: none; }
.datagrid table tbody td { 
    color: #000000;
    border-left: 1px solid #BDBDBD;
    font-size: 15px;
    font-weight: normal;
}
.datagrid table tbody .alt td { 
    background: #EDEDED;
    color: #000000; 
}
.datagrid table tbody td:first-child {border-left: none; }
.datagrid table tbody tr:last-child td { border-bottom: none; }

th{text-align: center;}
td{text-align: left;}
.datagrid td.action{
    text-align: center;
    width: 150px;
}


.btn{
   background: #003c8f;
  background-image: -webkit-linear-gradient(top, #003c8f, #1497fc);
  background-image: -moz-linear-gradient(top, #003c8f, #1497fc);
  background-image: -ms-linear-gradient(top, #003c8f, #1497fc);
  background-image: -o-linear-gradient(top, #003c8f, #1497fc);
  background-image: linear-gradient(to bottom, #003c8f, #1497fc);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
}

.btn:hover {
   background: #007000;
  background-image: -webkit-linear-gradient(top, #007000, #00ff3c);
  background-image: -moz-linear-gradient(top, #007000, #00ff3c);
  background-image: -ms-linear-gradient(top, #007000, #00ff3c);
  background-image: -o-linear-gradient(top, #007000, #00ff3c);
  background-image: linear-gradient(to bottom, #007000, #00ff3c);
  text-decoration: none;
}

.btn_b{
  background: #28048a;
  background-image: -webkit-linear-gradient(top, #28048a, #917bba);
  background-image: -moz-linear-gradient(top, #28048a, #917bba);
  background-image: -ms-linear-gradient(top, #28048a, #917bba);
  background-image: -o-linear-gradient(top, #28048a, #917bba);
  background-image: linear-gradient(to bottom, #28048a, #917bba);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
}

.btn_b:hover {
    background: #fa283a;
    background-image: -webkit-linear-gradient(top, #fa283a, #8f0404);
    background-image: -moz-linear-gradient(top, #fa283a, #8f0404);
    background-image: -ms-linear-gradient(top, #fa283a, #8f0404);
    background-image: -o-linear-gradient(top, #fa283a, #8f0404);
    background-image: linear-gradient(to bottom, #fa283a, #8f0404);
    text-decoration: none;
}

button{
    border: 0px solid black;
    top: -5px;
    position: inherit;
}

/* Input Buttons */
input[type="submit"] {
    border: 0px solid black;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    top: -5px;
    position: inherit;
    background: #003c8f;
    background-image: -webkit-linear-gradient(top, #003c8f, #1497fc);
    background-image: -moz-linear-gradient(top, #003c8f, #1497fc);
    background-image: -ms-linear-gradient(top, #003c8f, #1497fc);
    background-image: -o-linear-gradient(top, #003c8f, #1497fc);
    background-image: linear-gradient(to bottom, #003c8f, #1497fc);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
}
input[type="submit"]:hover {
    background: #007000;
    background-image: -webkit-linear-gradient(top, #007000, #00ff3c);
    background-image: -moz-linear-gradient(top, #007000, #00ff3c);
    background-image: -ms-linear-gradient(top, #007000, #00ff3c);
    background-image: -o-linear-gradient(top, #007000, #00ff3c);
    background-image: linear-gradient(to bottom, #007000, #00ff3c);
}

/* Input Buttons */
/*input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 0px solid black;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    top: -5px;
    position: inherit;
    background: #003c8f;
    background-image: -webkit-linear-gradient(top, #003c8f, #1497fc);
    background-image: -moz-linear-gradient(top, #003c8f, #1497fc);
    background-image: -ms-linear-gradient(top, #003c8f, #1497fc);
    background-image: -o-linear-gradient(top, #003c8f, #1497fc);
    background-image: linear-gradient(to bottom, #003c8f, #1497fc);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}
.custom-file-upload:hover {
    background: #007000;
    background-image: -webkit-linear-gradient(top, #007000, #00ff3c);
    background-image: -moz-linear-gradient(top, #007000, #00ff3c);
    background-image: -ms-linear-gradient(top, #007000, #00ff3c);
    background-image: -o-linear-gradient(top, #007000, #00ff3c);
    background-image: linear-gradient(to bottom, #007000, #00ff3c);
}*/

::-webkit-file-upload-button {
    border: 0px solid black;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    top: -5px;
    position: inherit;
    background: #003c8f;
    background-image: -webkit-linear-gradient(top, #003c8f, #1497fc);
    background-image: -moz-linear-gradient(top, #003c8f, #1497fc);
    background-image: -ms-linear-gradient(top, #003c8f, #1497fc);
    background-image: -o-linear-gradient(top, #003c8f, #1497fc);
    background-image: linear-gradient(to bottom, #003c8f, #1497fc);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

::-webkit-file-upload-button:hover {
    background: #007000;
    background-image: -webkit-linear-gradient(top, #007000, #00ff3c);
    background-image: -moz-linear-gradient(top, #007000, #00ff3c);
    background-image: -ms-linear-gradient(top, #007000, #00ff3c);
    background-image: -o-linear-gradient(top, #007000, #00ff3c);
    background-image: linear-gradient(to bottom, #007000, #00ff3c);
}

::-ms-browse {
    border: 0px solid black;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    top: -5px;
    position: inherit;
    background: #003c8f;
    background-image: -webkit-linear-gradient(top, #003c8f, #1497fc);
    background-image: -moz-linear-gradient(top, #003c8f, #1497fc);
    background-image: -ms-linear-gradient(top, #003c8f, #1497fc);
    background-image: -o-linear-gradient(top, #003c8f, #1497fc);
    background-image: linear-gradient(to bottom, #003c8f, #1497fc);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

::-ms-browse:hover {
    background: #007000;
    background-image: -webkit-linear-gradient(top, #007000, #00ff3c);
    background-image: -moz-linear-gradient(top, #007000, #00ff3c);
    background-image: -ms-linear-gradient(top, #007000, #00ff3c);
    background-image: -o-linear-gradient(top, #007000, #00ff3c);
    background-image: linear-gradient(to bottom, #007000, #00ff3c);
}